body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("images/https://images.search.yahoo.com/yhs/view;_ylt=AwrO8w0q2VloQl4D6U42nIlQ;_ylu=c2VjA3NyBHNsawNpbWcEb2lkA2JjODdiMzhhNTQ2YWFlYmM1YWVjMTlmOTg4NmVlOTY5BGdwb3MDODIEaXQDYmluZw--?back=https%3A%2F%2Fimages.search.yahoo.com%2Fyhs%2Fsearch%3Fp%3Dblak%2Band%2Bwhite%2Bsoccerbackground%26ei%3DUTF-8%26type%3Dfc_AC934C13286_s58_g_e_d080323_n9998_c999%26fr%3Dyhs-fc-2461%26fr2%3Dp%253As%252Cv%253Ai%252Cm%253Asb-top%26hsimp%3Dyhs-2461%26hspart%3Dfc%26param1%3D7%26param2%3DeJwtj8tuwyAQRX%252BFZSJhPAPYQFildfoBVVdFLByHOshP2Y5c9esr0mo2V3PPSGfaeHPWv1cIwDWUjvrRWW%252BM0Y76VIEGwYWjvvnbO%252Brj7KxHwRmXyFBJhirRbZic9Y%252FVUf%252BonfXD9BP7vs4LBuSwx%252FE27SsZN4LAwJI9jqW05LuUR1LPcx%252F2cO3ilhdCMVGSQ3ffhp6SPnaBtKHppiNp7ss0hByFYpCGrPVXvcT%252FkyS2Pr9JAmtYnrl6geKiOGSVMiZDvLxlGozIhHjVXJ1VJc4q8U2COfAiA8w4fgCepD5JxUohP38BNENTaw%253D%253D%26nost%3D1%26tab%3Dorganic%26ri%3D82&w=626&h=372&imgurl=img.freepik.com%2Fpremium-photo%2Fblack-football-soccer-ball-against-black-background-with-highlight-textured-surface_158001-4281.jpg&rurl=https%3A%2F%2Fwww.freepik.com%2Fpremium-ai-image%2Fblack-football-soccer-ball-against-black-background-with-highlight-textured-surface_58949506.htm&size=26KB&p=blak+and+white+soccerbackground&oid=bc87b38a546aaebc5aec19f9886ee969&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&fr=yhs-fc-2461&tt=Black+football+or+soccer+ball+against+black+background+with+highlight+on+the+textured+surface+...&b=61&ni=225&no=82&ts=&tab=organic&sigr=vq4Fwu9Oex4B&sigb=gimurwM_Xw5D&sigi=hGK7iJ7sBJZd&sigt=LmdV4snTzdbu&.crumb=GF8GhnURjYN&fr=yhs-fc-2461&fr2=p%3As%2Cv%3Ai%2Cm%3Asb-top&hsimp=yhs-2461&hspart=fc&type=fc_AC934C13286_s58_g_e_d080323_n9998_c999&param1=7&param2=eJwtj8tuwyAQRX%2BFZSJhPAPYQFildfoBVVdFLByHOshP2Y5c9esr0mo2V3PPSGfaeHPWv1cIwDWUjvrRWW%2BM0Y76VIEGwYWjvvnbO%2Brj7KxHwRmXyFBJhirRbZic9Y%2FVUf%2BonfXD9BP7vs4LBuSwx%2FE27SsZN4LAwJI9jqW05LuUR1LPcx%2F2cO3ilhdCMVGSQ3ffhp6SPnaBtKHppiNp7ss0hByFYpCGrPVXvcT%2FkyS2Pr9JAmtYnrl6geKiOGSVMiZDvLxlGozIhHjVXJ1VJc4q8U2COfAiA8w4fgCepD5JxUohP38BNENTaw%3D%3D"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7); 
  height: 100vh;
  width: 100%;
}

.container {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  margin-bottom: 40px;
}

.buttons button {
  margin: 10px;
  padding: 15px 25px;
  font-size: 16px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #333;
}

.info-box {
  margin-top: 40px;
  background-color: rgba(30, 30, 30, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}